{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- content starts here -->

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <h2> Add a new bet</h2>
        </div>
    </div>
</div>
            
{% if user.is_authenticated %}
<div class="container mt-5">
    <form id="addBet" method="post">
                {% csrf_token %}
                
                <div class="card">
                    <div class="card-header">
                        <span>Enter stake below and all line information</span>
                        {{ bet_form | crispy }}
                    </div>
                    <div class="card-body">
                    
                    {{ line_formset.management_form }}
                    {% for form in line_formset %}
                        <div class="line-form row mb-3">
                            <div class="col-md-6 fixture">
                                {{ form.home_team }}
                                v
                                {{ form.away_team }}
                            </div>
                            <div class="col-md-2">
                                {{ form.prediction }}
                            </div>
                            <div class="col-md-4">
                                Odds:{{ form.odds }}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    
                </div>
                <div class="mx-auto button-line">
                <span class="button-line"><button id="submitAddBet" type="submit" class="btn btn-primary">Save Bet</button></span>
                </div>
            </div>
        
               
            </form>
        </div>   
        {% else %}
        <p>Please log in to add a new bet </p>
        
        {% endif %}

   
<!-- index.html content ends here -->
{% endblock content %}