{% extends "base.html" %}

{% block content %}

<!-- content starts here -->
<div class="container-fluid">
    <div class="row">
        <h1>Open Bets</h1>
    </div>
    
    {% for bet in open_bets %}
    <h2>{{ bet.punter }} | £{{ bet.stake }} {{ bet.line_count }}-fold </h2>
        <ul>
        {% for line in bet.lines.all %}
            <li>
                {{ line.home_team }} v {{ line.away_team }} | 
                Prediction: {{ line.prediction}} | Odds: {{ line.odds }} | {{ line.status }}
            </li>
        {% endfor %}
        </ul>
    <h3>{{bet.status}}</p>
    {% endfor %}


<!-- index.html content ends here -->
{% endblock %}