{% extends "base.html" %}

{% block content %}

<!-- content starts here -->

  <!--<div>
        <span class="text-start"><a href="{% url 'home' %}">Open Bets</a> | 
            <a href="{% url 'settled_list' %}">Settled Bets</a></h1>
            <span> User Balance: £ {{ user_balance }} </span>
    </div>
    -->  
    <div class="container top-info-bar">
        <div class="row">
          <div class="col text-start">
            <a href="{% url 'home' %}">Open Bets</a> | 
            <a href="{% url 'settled_list' %}">Settled Bets</a></h1>
          </div>
          <div class="col">
            <span class="money"> Balance:
                {% if user_balance > 0 %}<span class="balance-green"
                {% else %} <span class="balance-red"
                {% endif %}> £ {{ user_balance }}</span>
          </div>
          <div class="col">
            Your bet has been updated successfully
          </div>
        </div>
      </div>

    <!-- Container of all bets-->
     
    <div class="container-fluid all-bets">
        {% for bet in open_bets %} 
        <!-- Single Bet Box-->

        <div class="row no-gutters bet-box mb-3">
            <div class="col">
            <!-- Bet Header, wrapped in an anchor-->
                <div class="row bet-header">
                    <div class="col">
                        <a data-bs-toggle="collapse" href="#collapse{{ forloop.counter }}"> 
                        <div class="row align-items-start">
                            <div class="col-3">
                                <span class="punter">{{ bet.punter }} </span>
                            </div>
                          
                            <div class="col">
                                <span class="stake">£{{ bet.stake }} {{ bet.line_count }}-fold </span>
                            </div>
                        
                            <div class="col-2 text-end">
                                {% if bet.status == 0  %}
                                <span class="badge bg-secondary">Pending</span>
                                {% elif bet.status == 1  %}
                                <span class="badge bg-success">Won</span>
                                {% elif bet.status == -1 %}
                                <span class="badge bg-danger">Lost</span>
                                {% endif %}
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <!-- End Of Bet Header-->                
                            
                <!-- Lines and Footer-->
                <div id="collapse{{ forloop.counter }}" class="row panel-collapse {% if forloop.counter > 5 %}collapse{% endif %}">
                    <div class="col">
                        <ul class="list-group">
                        {% for line in bet.lines.all %}
                
                        <li class="list-group-item bg-light">
                            <div class="row line-details">
                                <div class="col">{{ line.home_team }} v {{ line.away_team }} </div>
                                <div class="col">Prediction: {{ line.prediction}} </div>
                                <div class="col">Odds: {{ line.odds }} </div>
                                <div class="col">{{ line.status }} </div>
                            </div>    
                                               
                        {% endfor %}
                        </ul>
                    </div>
                </div> 
    
                <!-- End of lines -->
                
                <!-- Buttons / Actions -->
                <div class="row panel-footer list-group">
                    <div class="col">Update  Delete 
                    </div> 
                </div>
            
                <!-- End of Actions -->

            </div>
        </div>
    
    
        {% endfor %}
    </div>

</div>

   

      </div>
<!-- index.html content ends here -->
{% endblock %}