{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- content starts here -->
<div class="container col-xxl-8 px-4 py-5">
   <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
     <div class="col-10 col-sm-8 col-lg-6">
       <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Football match ero image" width="700" height="500" loading="lazy">
     </div>
     <div class="col-lg-6">
       <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to Bet Tracker</h1>
       <p class="lead">A site to track all of your football bets, while sharing and comparing your profitability with our community</p>
       <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <p class="">To get started, sign up to our site using the link above.</p>  
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">View Open Bets</button>
      </div>
     </div>
   </div>
 </div>

<!-- content ends here -->
{% endblock content %}
{% block additional %}
{% endblock %}