<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Bets</title>
</head>

<body>
    <h1>Open Bets</h1>
    {% for bet in open_bets %}
    <h2>{{ bet.punter }} | £{{ bet.stake }} {{ bet.line_count }}-fold </h2>
        <ul>
        {% for line in bet.lines.all %}
            <li>
                {{ line.home_team }} v {{ line.away_team }} | 
                Prediction: {{ line.prediction}} | Odds: {{ line.odds }} | {{ line.status }}
            </li>
        {% endfor %}
        </ul>
    <h3>{{bet.status}}</p>
    {% endfor %}
</body>

</html>