{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- content starts here -->

<div class="container mt-5">
    <div class="row">
        <div class="text-center">
            <h2> Update bet</h2>
        </div>
    <div class="row">
        <div class="col-12 col-md-12 text-center">
        
       
      
        {% if user.is_authenticated %}
        <form id="updateBet" method="post">
            {% csrf_token %}
            {{ edit_bet_form | crispy }}
            
            {{ line_formset.management.form }}
            {% for form in line_formset %}
            <div class="line-item">
                {{ form | crispy }}
            </div>
            {% endfor %}

            <button id="submitEditBet" type="submit" class="btn btn-primary">Save Changes</button>
        </form>    
        {% else %}
        <p>Please log in to edit your bet </p>
        
        {% endif %}
        
        {% if edit_bet_form.errors %}
        <div class="errors">
            {{ edit_bet_form.errors }}
        </div>
        {% endif %}

        {% for form in line_formset %}
            {% if form.errors %}
            <div class="errors">
                {{ edit_bet_form.errors }}
            </div>
            {% endif %}
        {% endfor %}
   
<!-- index.html content ends here -->
{% endblock content %}